@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sans+Serif+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media () {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  font-family: 'Sans Serif Pro', sans-serif;
}

.textSerif {
  font-family: 'Sans Serif Pro', sans-serif;
}

.textMont {
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
